.product-image {
  width: max(300px, 10%);
  height: max(400px, 10%);
  object-fit: cover;
}

.main-container {
  width: 100%;
  margin: 2rem;
  height: 100%;
}

.product-info {
  color: lightgreen;
}
.remove-button {
  width: calc(5rem + 0.3vw);
  font-size: small;
}

.product-quantity-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.product-quantity {
  display: flex;
  align-items: center;
}

.quantity-value {
  margin-right: 0.5rem;
}

.add-more-units-button {
  background-color: #4caf50;
  color: white;
  margin-right: 1rem;
}

.remove-units-button {
  background-color: #f44336;
  color: white;
}
