.smaller-image {
  object-fit: contain;
}

.main-container {
  width: 100%;
  margin: 2rem;
  height: 100%;
}

.product-info {
  color: lightgreen;
}
.remove-button {
  width: calc(5rem + 0.3vw);
}

.add-more-units-button {
  background-color: #845ec2;
  color: white;

  height: 3rem;
}

.product-quantity-div {
  margin-top: calc(1rem + 0.6vw);
}

.product-quantity {
  margin-left: 10rem;
}
