<app-navbar></app-navbar>

<h2 class="error-handle-text" *ngIf="dataFetchinginProgess">
  Fetching Data....
</h2>

<div class="container" *ngIf="!dataFetchinginProgess">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="card mb-3 box-shadow product-box">
        <img
          class="card-img-top product-image"
          [src]="product.image"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description | toShorten : 20 }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <button
              class="btn btn-sm add-to-cart-button"
              (click)="addToCart(product)"
            >
              Add to cart
            </button>
            <small class="text-muted">{{ product.price | currency }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
