<div class="">
  <button class="go-back-button" routerLink="/home">Go back</button>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Cart</h2>
      <button class="total-price">
        <small>Total : {{ totalPrice.toFixed(2) }}</small>
      </button>

      <div *ngIf="cartProducts && cartProducts.length > 0">
        <app-cartproductlist
          [products]="cartProducts"
          (removeEvent)="removeProduct($event)"
          (AddMoreUnitsOfProduct)="addMoreUnits($event)"
          (RemoveUnitsOfProduct)="removeUnits($event)"
        ></app-cartproductlist>
      </div>

      <div *ngIf="!cartProducts || cartProducts.length === 0">
        <h2>Your cart is empty</h2>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn checkout-btn" (click)="toCheckout()">Checkout</button>
  </div>
</div>
