h2 {
  text-align: center;
  margin-bottom: 3rem;
}

small {
  text-align: center;
  font-weight: 600;
  font-size: medium;
}

.checkout-btn {
  width: 100px;
  height: 50px;
  background-color: #845ec2;
  color: white;
}
