<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular WebSHop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">
            My Cart <i class="bi bi-cart-fill"></i
            ><span>({{ productCount }})</span>
          </a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <h3 *ngIf="loggedInUserDetails" class="navbar-user-details me-3">
          user:
          <span>
            <h3>
              {{ loggedInUserDetails.name }} {{ loggedInUserDetails.lastname }}
            </h3>
          </span>
        </h3>
        <!-- <h3 *ngIf="!loggedInUserDetails" class="navbar-user-details me-3">
          <h3>no user</h3>
        </h3> -->
        <form class="d-flex">
          <button class="btn btn-danger" type="submit" (click)="logOut()">
            Log Out
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
